:root{
    --bg: white;
    --textColor:black;
    --softBg:#f0f0f0;
    --softTextColor: #626262;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
}


a{
    text-decoration: none;
    color: inherit;
}

.container{
    min-height: 100vh;
    background-color: var(--bg);
    color: var(--textColor);
}

.wrapper{
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    background-color: purple;
    padding: 0px 80px;    
}



